@media (max-width:665px){
    
    .menu-ber {
        /* 
        background-color: #b3b2b2;
        height: 135px;
        position: absolute;
        z-index: 999;
        overflow: hidden; */
        padding: 0;
        /* overflow: hidden; */
        width: 100%;
        display: table;
        position: inherit;
    }

    .container{
        padding: 0;
    }
    
    
    .logo {
        width: 200px;
        float: left;
        margin: 8px;
        overflow: hidden;
    }
    
    #L0gho{
        height: 75px;
        width: 75px;
    }

    .container {
        margin: auto;
        width: 100%;
        overflow: hidden;
        padding: 0;
        /* margin-bottom: 50px; */
    }

    .primarywrapper {
        display: table;
        width: 100%;
    }

    .menu {
        /* width: 100%;
        float: left;
        height:300px;
        background: #1d1a35; */
        display: table;
        background: #0a2c3d;
        width: 100%;
        transform: scaleY(0.0);
        transform-origin: top;
        display: none;
        margin-top: 0;
    }

    .MenuShow {
        display: block !important;
        background: #0a2c3d;
        width: 100%;
        transform: scaleY(1);
        transform-origin: top;

    }

    ul.main-menu {
        /* list-style: none;
        float: initial;
        margin: auto;
        padding: 0; */
        width: 100%;
        background: #182151;
        /* margin-top: 35px; */
    }

    ul.main-menu li {
        float: initial;
        padding: 0;
        margin: 0px;
    }

    .main-menu li a {
        /* text-decoration: none;
        font-family: Oswald;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 23px; */
        /* display: block; */
        /* padding: 34px 25px;
        color: #f5f6f6;
        font-weight: 500;
        
        letter-spacing: .04cm; */
        text-align: left;
        margin: 0;
        padding: 8px;
        display: block;
        font-family: arial;
        font-size: 14px;
        color: white;
        border-bottom: 1px solid #2d4049;
    }

    ul.subMenu {
        width: 100%;
        position: initial;
        display: block;
        transform: scaleY(0);
        visibility: visible;
        background: black;
        transform-origin: top;
        display: none;
    }

    ul.SubMenuShow{
        display: block !important;
        transform: scaleY(1);
    }

    /* ul.SubMenu2 {
        position: initial !important;
        visibility: visible;
        transform: scaleY(1);
        transform-origin: top;
        background: #0d1231;
        width: 100%;
        display: none;
    } */

    .mobileMenuBar {
        width: 50px;
        float: right;
        display: block;
        color: black;
        font-size: 25px;
        /* vertical-align: middle; */
        height: 100%;
        margin-top: 20px;
        cursor: pointer;
    }

    section#Homeslider {
        background-repeat: no-repeat;
        background-position: center;
        /* margin-top: initial; */
        /* position: absolute; */
         width: 100%;
        /* margin: 0; */
        padding: 0;
        padding-top: 160px;
    
    }

    #Homeslider >background-url{
        max-width: 100%;
    }
    
    
    .slidebercontent{
        margin-left: 20px;
        width: 100%;
       
    
    
    }

    .slidebercontent h1{
        color: #fb5200;
    }

    .slidebercontent p{
        color: black;
    }

    .sboxwrapper {
        overflow: hidden;
        width: 100%;
    }

    .singlebox {
        width: 90%;
        /* background: white; */
        padding: 15px;
        /* float: left; */
        /* margin-right: 20px; */
        /* transition: all 0.3s ease 0s; */
        margin: 10px 10px 10px 10px;
    }

    /* .sboxTitle h2{
        color: #333;
    } */

    /* .sboxIcon {
        text-align: center;
        font-size: 40px;
        color: #fb5200;
        margin: 20px 0px;
    } */

    .sboxDesc {
        text-align: center;
        margin: 20px 0px;
        line-height: 20px;
        margin: 25px;
        padding: 10px;
        
    }



    .teamImage {
        width: 90%;
        float: left;
        margin-left: 20px;
    }

    .teamDetails {
        width: 100%;
        float: left;
        margin-left: 24px;
    }

  
    #whyChooseUs {
        background: linear-gradient(#0000009e, #000000a8) , url(Images/pbg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
    }

    .iconWrapper {
        overflow: hidden;
        margin-top: 40px;
        margin-bottom: 40px;
    }
   
    .singleIcons {
        width: 40%;
        text-align: center;
        color: white;
        float: left;
        margin-bottom: 45px;
        margin-left: 8px;
    }


    .singlePost img {
        width: 100%;
    }

    .singlePost:first-child {
        width: 90%;
        overflow: hidden;
        float: left;
        margin-right: 45px;
        margin-left: 30px;
        margin-top: 55px;
    }

    .singlePost {
        width: 90%;
        overflow: hidden;
        float: left;
        margin-right: 45px;
        margin-left: 30px;
        margin-top: 55px;
    }


    .singleTable:first-child {
        /* margin-right: 0px; */
        margin-top: 40px;
    }


    .singleTable {
        width: 60%;
        overflow: hidden;
        float: left;
        border: 1px solid #c4c4c4;
        padding: 30px;
        margin-left: 95px;
        box-shadow: 0px 0px 7px 2px #c4c4c4;
        border-radius: 3px;
        margin-top: 25px;
    }

    .singleTable:last-child {
        /* margin-right: 0px; */
        margin-bottom:40px;
    }


    .titleDesc h2{

        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 12px;
        width: 100%;
    }

    .titleDesc p {
        color: #666;
        line-height: 23px;
        margin-bottom: 10px;
        max-width: 100%;
        /* font-size: 10px; */
        text-align: justify;
        float: left;
        margin-right: 50px;
    }

    .rContentIcons {
        padding: 40px;
        overflow: hidden;
        column-count: 2;
        width: 90%;
    }


 
}

